{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div class="text-center">
    <h1>Список сторінок</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Nisi ut perferendis esse provident consectetur
        voluptas minus, quia dolorem minima! Placeat 
        quibusdam adipisci, ipsa cupiditate quod expedita 
        culpa deleniti nostrum quidem?</p>
</div>
<div class="row p-5">
    <div class="card col-3 m-5">
        <div class="card-body text-center">
            <a class="btn btn-primary my-3" href="/shophome">home</a>
            <br>
            <a class="btn btn-success my-3" href="/shoporder">order</a>
            <br>
            <a  class="btn btn-info my-3" href="/shopcart">cart</a>
            <br>
            <a class="btn btn-outline-info my-3" href="/shopcatalog">catalog</a>
            <br>
            <a class="btn btn-outline-primary my-3" href="/shopprofile">profile</a>
        </div>
    </div>
    <div class="card col-3 m-5">
        <div class="card-body text-center">
            <a class="btn btn-primary my-3" href="/task21">page1</a>
            <br>
            <a class="btn btn-success my-3" href="/task22">page2</a>
            <br>
            <a  class="btn btn-info my-3" href="/task31">page3</a>
         </div>
    </div>
    
    <div class="card col-3 m-5">
        <div class="card-body text-center">
            <a class="btn btn-primary my-3" href="/web">WEB DEV</a>
            <br>
            <a class="btn btn-success my-3" href="/car">Toyota</a>
            <br>
            <a  class="btn btn-info my-3" href="/mac">mac</a>
        </div>
    </div>
</div>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}